{%extends "base.html"%}
{%load static%}

{%block conteudo%}

<div class="calculadora">
    <h2>Calculadora</h2>
    <form method="POST" action="{% url 'calcularFemininoMasculino'%}">
        {% csrf_token %} {% comment %} Este é um token gerado pelo Django para proteger o formulário contra ataques de Cross-Site Request Forgery (CSRF). Deve ser incluído em todos os formulários que utilizam o método POST para garantir a segurança. {% endcomment %}
        <input type="text" name="peso" placeholder="Digite seu peso" required>
        <input type="text" name="altura" placeholder="Digite sua altura (Ex: 1.80 ou 1,80)" required>
        <button type="submit">Calcular IMC</button>
        <p>{{erro}}</p>
    </form>
</div>

{%endblock%} 